mat-card {
    width: 300px;
}

mat-card-header {
    padding-top: 10px;
    color: white;
}

mat-card-content {
    padding-top: 10px;
    padding-bottom: 0px;
    border: 20px;
}

.divTest {
    background-color: burlywood;
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
}

.divTest2 {
    background-color: blue;
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
}

.bt-fotter {
    padding-top: 5%;
}

.bt-fotter button {
    color: white;
}