<section>
    <div fxLayout fxLayoutAlign="space-start">

        <mat-form-field fxFlexOffset="20%">
            <mat-label>Search a users</mat-label>
            <input type="search" matInput placeholder="Just fill...">
        </mat-form-field>

    </div>
    <br>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <div style=" background-color: burlywood; " fxFlex="70%">Table Seccion</div>
        <div style="background-color: gray; " fxFlex>User detail</div>
    </div>
</section>